In [20]:
import numpy as np
import pandas as pd
#from __future__ import division


from sklearn.feature_selection import SelectFromModel
from sklearn.metrics import accuracy_score
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
import matplotlib.pyplot as plt
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import KFold
from mlxtend.feature_selection import SequentialFeatureSelector as SFS
import time
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

In [5]:
df = pd.read_csv('train_features.csv', sep=",")
df.head(10)

df.info()
df=df.drop(['match_id_hash'],axis=1)
df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39675 entries, 0 to 39674
Columns: 246 entries, match_id_hash to d5_sen_placed
dtypes: float64(30), int64(215), object(1)
memory usage: 74.5+ MB

   game_time  game_mode  ...  d5_obs_placed  d5_sen_placed
0        155         22  ...              0              0
1        658          4  ...              0              0
2         21         23  ...              0              0
3        576         22  ...              2              0
4        453         22  ...              0              0
5        160         22  ...              0              0
6       1016         22  ...              3              0
7        582         22  ...              3              0
8        636         22  ...              1              0
9       1054         22  ...              0              0

[10 rows x 245 columns]

In [6]:
for i in df.columns:
    df[i] = df[i].astype(int)

In [7]:
Y = pd.read_csv('train_targets.csv', sep=",")
Y.head(10)

                      match_id_hash  game_time  ...  time_remaining  next_roshan_team
0  a400b8f29dece5f4d266f49f1ae2e98a        155  ...             837               NaN
1  b9c57c450ce74a2af79c9ce96fac144d        658  ...             496               NaN
2  6db558535151ea18ca70a6892197db41         21  ...            1482           Radiant
3  46a0ddce8f7ed2a8d9bd5edcbb925682        576  ...            1376               NaN
4  b1b35ff97723d9b7ade1c9c3cf48f770        453  ...            1548               NaN
5  19c39fe2af2b547e48708ca005c6ae74        160  ...            1903               NaN
6  c96d629dc0c39f0c616d1949938a6ba6       1016  ...            1131           Radiant
7  156c88bff4e9c4668b0f53df3d870f1b        582  ...            1345              Dire
8  df50f738c454d430a33b2bf90cb9ef1a        636  ...            1423               NaN
9  7469e9440ea3d19b211a484647c7126e       1054  ...            1233               NaN

[10 rows x 6 columns]

In [8]:
Y=Y.drop(['match_id_hash'],axis=1)
Y=Y.drop(['game_time'],axis=1)
Y=Y.drop(['duration'],axis=1)
Y=Y.drop(['time_remaining'],axis=1)
Y=Y.drop(['next_roshan_team'],axis=1)

In [9]:
Y["radiant_win"] = Y["radiant_win"].astype(int)

In [15]:
X = df.values
Y= Y.values

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [17]:
def classification_error(y_est, y_real):
    err = 0
    for y_e, y_r in zip(y_est, y_real):

        if y_e != y_r:
            err += 1

    return err/np.size(y_est)

In [18]:
#Para calcular el costo computacional
tiempo_i = time.time()

#Implemetamos la metodología de validación

Errores = np.ones(10)
j = 0
kf = KFold(n_splits=10)

for train_index, test_index in kf.split(X):
    
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    
    #Creamos el clasificador SVM. Tenga en cuenta que el problema es multiclase. 
    clf_GBT = GradientBoostingClassifier(n_estimators=250)

    #Aquí se entran y se valida el modelo sin hacer selección de características
    
    ######
    
    # Entrenamiento el modelo.
    model = clf_GBT.fit(X_train,y_train)

    # Validación del modelo
    ypred = model.predict(X_test)
    
    #######

    Errores[j] = classification_error(ypred, y_test)
    j+=1

print("\nError de validación sin aplicar extracción: " + str(np.mean(Errores)) + " +/- " + str(np.std(Errores)))

print("\nEficiencia en validación sin aplicar extracción: " + str((1-np.mean(Errores))*100) + "%" )

print ("\n\nTiempo total de ejecución: " + str(time.time()-tiempo_i) + " segundos.")
Error_validacion_RFA = str(np.mean(Errores))
I_C_RFA = str((1-np.mean(Errores))*100)
Tiempo_Ejecucion_RFA = str(time.time()-tiempo_i)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Error de validación sin aplicar extracción: 0.2868807975780024 +/- 0.009453024261847258

Eficiencia en validación sin aplicar extracción: 71.31192024219976%


Tiempo total de ejecución: 2554.369453191757 segundos.

In [19]:
#Para calcular el costo computacional
tiempo_i = time.time()

#Estandarizamos los datos
Xstd = scale(X)

#Aquí se aplica la extracción de características por PCA
#Complete el código llamando el método extract_features. Tenga en cuenta lo que le pide el ejercicio 3.1
ex = PCA(n_components=122)
#Fit de PCA
#Complete el código con el fit correspondiente
ex = ex.fit(X)

#Transforme las variables y genere el nuevo espacio de características de menor dimensión
#complete el código aquí para hacer la transformación
X_ex = ex.transform(X) 

#Implemetamos la metodología de validación cross validation con 10 folds
Errores = np.ones(10)
j = 0
kf = KFold(n_splits=10)

for train_index, test_index in kf.split(X):
           
    #Se aplica CV-10
    
    X_train, X_test = X_ex[train_index], X_ex[test_index]
    y_train, y_test = Y[train_index], Y[test_index]  
   
    #Aquí se entrena y se valida el modelo luego de aplicar extracción de características con PCA o LDA
    clf_GB = GradientBoostingClassifier(n_estimators=250)
    
    # Entrenamiento el modelo.
    model = clf_GB.fit(X_train,y_train)

    # Validación del modelo
    ypred = model.predict(X_test)
    
    #######

    Errores[j] = classification_error(ypred, y_test)
    j+=1
        

print("\nError de validación aplicando extracción: " + str(np.mean(Errores)) + " +/- " + str(np.std(Errores)))

print("\nEficiencia en validación aplicando extracción: " + str((1-np.mean(Errores))*100) + "%" )

print ("\n\nTiempo total de ejecución: " + str(time.time()-tiempo_i) + " segundos.")
Error_validacion_GB = str(np.mean(Errores))
I_C_GB = str((1-np.mean(Errores))*100)
Tiempo_Ejecucion_GB= str(time.time()-tiempo_i)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Error de validación aplicando extracción: 0.27017029861274866 +/- 0.008646297441087738

Eficiencia en validación aplicando extracción: 72.98297013872514%


Tiempo total de ejecución: 4321.67240691185 segundos.